[submodule "modules/bibliobird"]
	path = modules/bibliobird
	url = git://github.com/dsnopek/puppet-bibliobird.git
[submodule "std-modules"]
	path = std-modules
	url = git://github.com/dsnopek/puppet-std-modules.git
